
input,
textarea{
	display:block;
	margin-top: 10px;
	background-color: rgb(54, 58, 56);
	font-family: 'Roboto', sans-serif;
	padding:10px;
	box-sizing:border-box;
	width: 100%;
	transition: all 0.5s;
}
input:hover{
	background-color: rgb(37, 37, 37);
}
textarea:hover{
	background-color: rgb(37, 37, 37);
}
h1{
	color: white;
}

.name, .email, .message{
border: none;
color: #fff;
}



.button{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
	color: rgb(56, 52, 52);
	background-color: 	rgb(54, 228, 161);
	border: none;
	cursor: pointer;
	transition: all 0.5s;
}

.button:hover{
	color: rgb(243, 239, 239);
	background-color: 	rgb(52, 202, 144);
}


.contact{
	width:100%;
	min-height: 400px;
	max-width: 500px;
	padding: 30px 20px;
	box-sizing:border-box;
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

.panel{
	border:1px solid #ddd;
	background: #f0f0f0;
	margin-bottom:20px;
	padding:5px;
}
